.quarter {
    /* height: 100%; */
}
.quarterWrapper {
    /* flex-basis: 50%;
    flex-grow: 1; */
    position: absolute;
    width: 50%;
}
.singleImage {
    width: 100%;
}
.wrapper {
    /* display: flex;
    flex-wrap: wrap; */
    padding-bottom: 100%;
    position: relative;
    /* width: 100%; */
}